NEXT_PUBLIC_API_BASE=/api
NEXT_PUBLIC_DJANGO_ORIGIN=http://127.0.0.1:8001
NEXT_PUBLIC_ANT_MEDIA_APP=live
NEXT_PUBLIC_ANT_MEDIA_HTTP_BASE=https://streaming-api-live.pttblockchain.online
NEXT_PUBLIC_ANT_MEDIA_WS_URL=wss://streaming-api-live.pttblockchain.online:5443/live/websocket
NEXT_PUBLIC_ANT_MEDIA_HLS_BASE=https://streaming-api-live.pttblockchain.online/live/streams
NEXT_PUBLIC_RTMP_BASE=rtmp://streaming-api-live.pttblockchain.online/live
